{% load staticfiles  %}
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a href="http://google.com"></a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="navigation">
                <li>

                </li>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'account:userLogin' %}">LOGIN</a></li>
                </ul>
            </ul>
        </div>
    </nav>
</div>